extends ../layout

block content
  .auth-form-wrapper.row.justify-content-center.align-items-center.flex-grow-1
    .col-md-6.col-lg-4
      .home-content-box
          h1.mb-3= title
      
          //- Toon een foutmelding als die er is
          if error    
            .alert.alert-danger= error
        
          form(method="POST", action="/login")
            .mb-3   
              label.form-label(for="email") E-mailaddress 
              input.form-control(type="email", id="email", name="email", required)
            .mb-3
              label.form-label(for="password") Password
              input.form-control(type="password", id="password", name="password", required)
            button.btn.btn-primary(type="submit") Login
