//- views/partials/_movie-grid.pug


if movies && movies.length > 0
  .row.row-cols-1.row-cols-sm-2.row-cols-md-4.row-cols-lg-5.g-4
    each movie in movies
      .col
        // De <a> tag wikkelt nu de hele .card
        a.text-decoration-none(href=`/movies/${movie.film_id}`)
          .card.h-100.text-dark.movie-card-link
            //- ✨ NIEUW: .movie-card-img class toegevoegd voor consistente aspect-ratio
            img.card-img-top.movie-card-img(src="https://placehold.co/200x300/212529/ffffff?text=Film", alt="Filmposter")
            .card-body
              h5.card-title= movie.title
else
  .alert.alert-info No movies found.