form.mb-4(method="GET", action="/movies")
      .input-group
      input.form-control(type="text", name="query", placeholder="Search for a movie title...", value=query || '')
      button.btn.btn-primary(type="submit") Search