//- De smalle, permanente balk als achtergrond voor de knop
.sidebar-stub

//- De hamburger-knop
a#sidebar-toggle-button(data-bs-toggle="offcanvas", href="#sidebarMenu", role="button", aria-controls="sidebarMenu")
  i.bi.bi-list

//- De Offcanvas zijbalk zelf
aside#sidebarMenu.offcanvas.offcanvas-start.text-bg-dark.p-3(tabindex="-1")
  .offcanvas-header
    h5.offcanvas-title Sakila App
    button.btn-close.btn-close-white(type="button", data-bs-dismiss="offcanvas", aria-label="Close")
  .offcanvas-body
    nav
      ul.nav.nav-pills.flex-column.mb-auto
        li.nav-item
          a.nav-link.text-white(href="/") Home
        li.nav-item
          a.nav-link.text-white(href="/movies") Movies
        li.nav-item
          a.nav-link.text-white(href="/about") About
        //- --- CONDITIONELE LINKS ---
        if customer
          //- Als er een gebruiker is ingelogd
          li.nav-item.mt-3.pt-3.border-top
          li.nav-item
            span.nav-link.text-secondary Welcome, #{customer.first_name}!
          li.nav-item
            a.nav-link.text-white(href="/customers/profile")
              i.bi.bi-person-circle.me-2
              | My Profile
          li.nav-item
            a.nav-link.text-white(href="/customers/watchlist") Favorite Movies
          li.nav-item
            form(method="POST", action="/logout")
              button.nav-link.text-white(type="submit", style="background:none; border:none; text-align: left; width: 100%;") Logout
        else
          //- Als er niemand is ingelogd
          li.nav-item
            a.nav-link.text-white(href="/customers/register") Register
          li.nav-item
            a.nav-link.text-white(href="/login") Login