extends layout

block content
  .error-page-container
    .card.text-center(style="width: 32rem;")
      .card-header.bg-danger.text-white.py-3
        h4.mb-0 Something went wrong
      .card-body.pb-4
        h1.card-title.mt-3= error.status
        h4.card-subtitle.mb-2.text-muted= message
        p.card-text.mt-4.
          The page you are looking for cannot be found, 
          or there was an error processing your request.
        a.btn.btn-primary.mt-3(href="/", role="button") Back to homepage