extends layout

block content

  style.
    body {
      background-image: url('https://images.pexels.com/photos/390089/pexels-photo-390089.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
    }
    #main-content-wrapper {
      background-color: transparent !important;
    }

  .home-container
    // ✨ NIEUW: Gebruik de .home-content-box voor het 'frosted glass' effect
    .home-content-box
      .container-fluid
        .row.flex-lg-row-reverse.align-items-center.g-5
          .col-10.col-sm-8.col-lg-6
            img.d-block.mx-lg-auto.img-fluid.rounded-3.shadow-sm(src="https://placehold.co/700x500/212529/ffffff?text=Sakila+Films", alt="Filmposters", loading="lazy")
          .col-lg-6
            h1.display-5.fw-bold.lh-1.mb-3= title
            p.lead.
              Welcome to #{title}
            
            if customer 
              p.lead #{customer.first_name} #{customer.last_name}.
            else
              p.lead Make an account or log in to get the most out of the app.

            .d-grid.gap-2.d-md-flex.justify-content-md-start.mt-4
              a.btn.btn-primary.btn-lg.px-4.me-md-2(href="/movies", role="button") See all movies
