extends layout

block content
  // Deze nieuwe container zorgt voor de verticale centrering
  .home-container
    // De bestaande container voor de content
    .bg-light.border.rounded-3.p-4.p-md-5.shadow-sm
      .container-fluid
        .row.flex-lg-row-reverse.align-items-center.g-5
          .col-10.col-sm-8.col-lg-6
            img.d-block.mx-lg-auto.img-fluid.rounded-3.shadow-sm(src="https://placehold.co/700x500/212529/ffffff?text=Sakila+Films", alt="Filmposters", loading="lazy")
          .col-lg-6
            h1.display-5.fw-bold.lh-1.mb-3= title
            p.lead.
              Welcome to #{title}
            if customer 
              p.lead Welcome #{customer.first_name} #{customer.last_name}.
            .d-grid.gap-2.d-md-flex.justify-content-md-start
              a.btn.btn-primary.btn-lg.px-4.me-md-2(href="/movies", role="button") See all movies