extends layout

block content
  h1= title

  .movie-grid
    each movie in movies
      .movie-card
        // Dummy afbeelding van 200x300 pixels
        img(src="https://placehold.co/200x300", alt="Film Poster")
        h4= movie.title