
extends layout

block content
  h1.mb-4= title

  // --- PAGINERING BOVENAAN ---
  include partials/_pagination

  // --- FILMLIJST ---
  include partials/_movie-grid
    
  // --- PAGINERING ONDERAAN ---
  include partials/_pagination