extends ../layout

block content
  h1.mb-4 Customer Details

  // Gebruik een Bootstrap Card om de data te tonen
  .card(style="width: 24rem;")
    .card-body
      h5.card-title #{customer.name}
      h6.card-subtitle.mb-2.text-muted Customer ID: #{customer.id}
      p.card-text Email: #{customer.email}